@import "tailwindcss";

@theme {
  --color-primary: #1754cf;
  --color-background-light: #f6f6f8;
  --color-background-dark: #0b0f17;
  --color-surface-dark: #161e2d;
  --color-accent-red: #ef4444;
  --color-accent-green: #10b981;
  --color-border-subtle: #243047;
  --font-display: var(--font-inter);
}

@layer utilities {
  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

body {
  font-family: var(--font-display), sans-serif;
}
